
/****************************************************/
/* BARRA DE NAVEGACION */
/****************************************************/

.navbar {
    background-color: rgb(0, 6, 90);
}
.navbar-brand {
    margin-left: 20px;
}
.navbar-nav {
    margin-left: 80px;
    display: flex;
}
.nav-item{
    min-width: 150px;
    padding-left: 30px;
    padding-right: 30px;
    font: 500 Montserrat, sans-serif !important;
    display: flex;
    text-align: center;
}
.navbar-nav .nav-item.active .nav-link {
    color: #ffffff; 
    text-decoration: underline; 
}
@media (max-width: 768px) { 
    /* Comportamiento de la barra de navegación en dispositivos móviles */
    .navbar {
        position: fixed; 
        top: 0; 
        left: 0; 
        right: 0; 
        z-index: 1; 
    }
    .navbar-nav {
        margin-left: 0px;
        margin-top: 5%;   
    }
    .nav-item {
        text-align: left;
        padding-left: 5%;
    }
    .nav-btn {
        margin-bottom: 3%;
        text-align: center ;
    }
    .navbar-toggler {
        margin-right: 5%;
    }
}
.btn-primary {
    margin: 0;
    border-radius: 20px;
    background-color: #F48598;
    border-color: #F48598;
    color: white;
    font: 500 Montserrat, sans-serif !important;
}
.btn-primary:hover {
    background-color: #fccdd4;
    border-color: #fccdd4;
    color: rgb(0, 0, 0);
}
#openModal {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 13px;
}
