body {
    font-family: 'Montserrat' sans-serif;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgba(153, 153, 153, 1) 10%, rgba(0, 6, 90, 1) 90%);
    height: 100vh;
  }

.buttonCrear {
    background-color: rgb(244, 133, 152);
    color: white;
    padding: 5px 60px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  .title{
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    height: 40px;
    margin-top: 5%;
  }

.text_container {
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 16px;
 }

 .addbtn {
    background-color: rgb(244, 133, 152);
    color: white;
    padding: 10px 20px;
    margin-top: 10%;
    border: none;
    border-radius: 50px;
    cursor: pointer;
 }

 .navbar {
    background-color: rgba(0, 6, 90, 1);
    color: rgb(255, 255, 255);
  }

  .navbar-nav {
    margin-left: 80px;
    display: flex;
}
.nav-item{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    text-align: center;
}
