
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #999999, #00065A);
    height: auto;
    min-height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none; /* Esto quitará el subrayado */
}
.container {
    min-width: 1100px !important;
    height: auto;
    width: auto;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    body {
        font-family: 'Montserrat', sans-serif;
        background: linear-gradient(to bottom, #999999, #00065A);
        height: auto;
        margin: 0;
        padding: 0;
    }
    .container {
        min-width: auto !important; 
        width: auto; 
    
    }
}

/****************************************************/
/* BARRA DE NAVEGACION */
/****************************************************/

.navbar {
    background-color: rgb(0, 6, 90);
    display:felx;
    
}


.d-inline-block{
    float:left;
    padding:8px;

}

.navbar-brand {
    margin-right: 10px; /* Ajusta el espacio entre el logo y el menú */
}
.navbar-brand {
    margin-left: 20px;
}

/*Elementos para centrar el contenido de la barra del menu*/
.navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    list-style-type: none;
    margin-left: 100px; 
    padding: 0; 
    
}


.nav-item {
    padding: 0 5%;
    box-sizing: border-box; 
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0px;
    display:gird;
    grid-auto-flow:column;
    grid-auto-columns:max-content;
    gap: 2em;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

.gradient-bg {
    height: 100vh; 
    background-image: linear-gradient(to bottom, #878894 40%, rgb(0, 6, 90) );
    background-size: cover; 
    color: white; 
    --bs-gutter-x:0px;
}
 
 :root{
    --padding-conteiner:100px 0;
    --color-title:white;
 }

 /*Pagina principal*/ 

 .container{
    width:90%;
    margin: auto;
    overflow:hidden;
    padding: var(--padding-conteiner);
    display: gird;
    gap: 1 em; 
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    
 }

 .projects-recents{
    padding-top: 100px;
    display: grid;
    gap: 1em;
    justify-items: center;
    width:260px;
    overflow:hieden;
    margin:0 auto;
 }


 /*Tarjeta proyectos*/

 .card-title{
    color:white;
    font-weight: 600;
    
 }

 .card-body{
    background-image: linear-gradient( rgba(170, 169, 169, 0.7), rgba(170, 169, 169, 0.7));
    border-radius: 10px; 
 }

/*Icono estrella marcar y desmarcar*/
 .favorite-icon.favorited {
    color: #F48598; 
  }



/*Botones rosas navegacion y página principal*/

.btn {
    background-color: #F48598;
    border-color: #F48598;
    margin-bottom: 20px; 
    margin-top: 20px;
    padding: 2, 20px; 
    border-radius: 20px; 
    font-size: 15px; 
    color: white; 
    transition: background-color 0.3s, color 0.3s; 
}

.btn:hover {
    background-color: #D8566B; 
    color: #FFFFFF; 
    border-color: #F48598;
   
}

.filter-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between; 
}

.filter-buttons .btn {
  flex-grow: 0.5; 
  margin-right: 5px;
  margin-left: 5px; 
}


/*Interdaz 3*/

/* Estilos generales del contenedor del formulario */
.contenedor-contacto {
    max-width: 600px;
    margin:  auto;
    overflow:hidden;
    display: gird;
    margin-top: 50px;
    padding: 20px;
}

/* Estilos para el título del formulario */
.contact-Form {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos para el mensaje de respuesta */
.respond-contact {
    font: size 20px;
}

/* Estilos para los elementos del formulario */
.contenedor-contacto form div {
    margin-bottom: 10px;
}

.contenedor-contacto form label {
    display: block;
    margin-bottom: 10px;
}

.contenedor-contacto form input[type="text"],
.contenedor-contacto form input[type="email"],
.contenedor-contacto form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(0, 6, 90,0.6);
    background-color: rgb(0, 6, 90,0.6) ;
    border-radius: 30px;
}

/* Estilos para los botones del formulario */
.contenedor-contacto form button[type="submit"] {
    background-color: #F48598; 
    color: #FFFFFF; 
    border-color: #F48598;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.contenedor-contacto form button[type="submit"]:hover {
    background-color: #D8566B;
}


/*Interface2 */

/* Estilos para la interfaz 3 - To-Do List */

/* Estilos generales del contenedor de la interfaz 3 */
.container-interface3 {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    max-width: 1000px;
}

/* Estilos para las columnas de tareas */
.column1-interface3,
.column2-interface3,
.column3-interface3 {
    width: 30%;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para las tareas */
.task {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para los títulos de las tareas */
.task h3 {
    margin: 0;
    font-size: 18px;
}

/* Estilos para las descripciones de las tareas */
.task p {
    margin: 5px 0;
    color: #6c757d;
}

/* Estilos para los botones "Añadir Tarea" */
.btn-add-task {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none; /* Eliminar el borde */
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.btn-add-task:hover {
    color: #ffffff; 
    text-decoration: none; 
}

    margin-left: 80px;
    display: flex;
}
.nav-item{
    padding-left: 30px;
    padding-right: 30px;
    font: 500 Montserrat, sans-serif !important;
    display: flex;
    text-align: center;
}
.navbar-nav .nav-item.active .nav-link {
    color: #ffffff; 
    text-decoration: underline; 
}
@media (max-width: 768px) { 
    /* Comportamiento de la barra de navegación en dispositivos móviles */
    .navbar {
        position: fixed; 
        top: 0; 
        left: 0; 
        right: 0; 
        z-index: 1; 
    }
    .navbar-nav {
        margin-left: 0px;
        margin-top: 5%;   
    }
    .nav-item {
        text-align: left;
        padding-left: 5%;
    }
    .nav-btn {
        margin-bottom: 3%;
        text-align: center ;
    }
    .navbar-toggler {
        margin-right: 5%;
    }
}
.btn-primary {
    margin: 0;
    border-radius: 20px;
    background-color: #F48598;
    border-color: #F48598;
    color: white;
    font: 500 Montserrat, sans-serif !important;
}
.btn-primary:hover {
    background-color: #fccdd4;
    border-color: #fccdd4;
    color: rgb(0, 0, 0);
}
#openModal {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 13px;
}

/****************************************************/
/* CONTENEDOR PRINCIPAL */
/****************************************************/

#main-container {
    height: auto;
    width: 100vh;
    display: block; 
    padding: 0%; 
    margin-bottom: 160px;
}
#recentProjects-container, #priorityProjects-container, #contact-container {
    margin-top: 10vh;
}
#Projects-container {
    margin-top: 8vh;
}
#recentProjects, #allProjects, #priorityProjects  {
    display: flex; 
    flex-wrap: wrap;
}
.title {
    margin-bottom: 5vh;
}
.filter-buttons {
    margin-bottom: 5vh;
    width: 1090px;
    display: flex;
}
.filter-button {
    width: 200px;
}
.filter-button.active {
    background-color: #00065A;
    border-color: #ffffff;
    color: white;
}
.col-sm-3 {
    display: grid;
    margin: 0;
    padding: 0;
    justify-content: center;
}   
.card{
    display: inline-flex;
    height: 160px;
    width: 220px;
    margin-right: 10px;
    margin-bottom: 10px;
    flex: 1 0 25%; /* Ocupar 25% del ancho disponible (4 columnas) */
    max-width: calc(25% - 10px);
    background-size: cover; 
    background-position: center;
    opacity: 0.6;  
}
.card:hover {
    opacity: 1.0;
    transform: scale(1.05); 
}
.card-body {
    display: flex;
    align-items: center; 
}
.card-title {
    text-align: center;  
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
}
.priority-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 80px;
    padding: 0;
    margin-top: 3px;
    background-color: #ffffff;
    border-color: #ffffff;
}
.priority-button:hover {
    background-color: transparent;
    border: none;
    color: transparent;
}
.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    color: white;
    font: 600 Montserrat, sans-serif !important;
    font-size: 10px;
    padding: 3px;
    margin-top: 5px;
    margin-right: 5px;
}
@media (max-width: 768px) {
    #main-container {
        position: relative;
        z-index: 0;
        width: auto;
        margin-top: 12vh;
        margin-left: 2vh;
    }

    #titleProjects{
        margin-top: 3vh;
        margin-bottom: 1vh;
    }
    #recentProjects-container  {
        margin-top: 15vh;
        width: auto;
    }
    #Projects-container {
        margin-top: 4vh;
        width: auto;
    }
    .filter-buttons {
        display: none;
    }
    #filterButtonSmall{
        margin-bottom: 2vh;
        margin-right: 2vh;
    }
    .dropdown-menu.show {
        background-color: #fccdd4; 
    }
    .card {
        display: inline-flex;
        height: 130px;
        width: 190px;
        margin-right: 12px;
        margin-bottom: 10px;
        flex: 1 0 50%; /* Ocupar 25% del ancho disponible (4 columnas) */
        max-width: calc(50% - 15px);
    }
}