.backgroundproject{
    background-image: linear-gradient(rgba(153, 153, 153, 1),
    rgba(129, 129, 143, 1),
    rgba(0, 6, 90, 1));
    min-height: 100vh;
    background-position: center; background-size: cover;
}

.navbar {
    background-color: rgb(0, 6, 90);
    min-height: 80px;
}

.navbar-nav {
    margin-left: 80px;
}
.nav-item {
    padding: 10px;
}

.boton{
    background-color: #F48598;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.ProjectsBar {
    max-height: 270px; /* Altura fija del contenedor */
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    white-space: nowrap; /* Evita que las cards se envuelvan */
    display: flex;
}

.ProjectsBar .card-text{
    line-height: 1.5; /* Ajusta el espaciado entre líneas según sea necesario */
    width: 16rem; /* Anchura de las cards */
    word-wrap: break-word; /* Permite que las palabras se dividan automáticamente */
    overflow-wrap: break-word; /* Permite que el texto se ajuste correctamente */
}

.ProjectsBar .card {
    width: 18rem; /* Anchura de las cards */
    margin-right: 10px; /* Espacio entre las cards */
    filter: brightness(0.8); /* Oscurece la tarjeta por defecto */
    transition: all 0.3s ease; /* Transición suave para el cambio de estilos */
}

.ProjectsBar .card:hover {
    filter: brightness(1); /* Aclara la tarjeta al pasar el ratón */
}

.ProjectsBar .close-button {
    position: absolute; /* Posición absoluta para el botón */
    top: 3px; /* Distancia desde la parte superior */
    right: 3px; /* Distancia desde la izquierda */
    /* Otros estilos para el botón */
}

.tarea{
    background-color:rgba(0, 6, 90, 0.28);
    text-align: left !important;    
}

.deletetask{
    position: absolute; /* Posición absoluta para el botón */
    top: 3px; /* Distancia desde la parte superior */
    right: 3px; /* Distancia desde la izquierda */
    /* Otros estilos para el botón */ 
}

.TSKCOL ul{
    margin:20px 0 0 20px;
    border:1px solid #000;
    width:70%;
    overflow:hidden;
    position:relative;
}
.TSKCOL li{
    background:#ccc;
    border-top:1px solid #000;
    padding:10px 5px;
    cursor:move;
}   
.TSKCOL li:first-child{
    border-top:0;
}