.backgroundproject{
    background-image: linear-gradient(rgba(153, 153, 153, 1),
    rgba(129, 129, 143, 1),
    rgba(0, 6, 90, 1));
    min-height: 100vh;
    background-position: center; background-size: cover;
}

.navbar {
    background-color: rgb(0, 6, 90);
    min-height: 80px;
}

.navbar-nav {
    margin-left: 80px;
}
.nav-item {
    padding: 10px;
}

.boton{
    background-color: #F48598;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.ProjectsBar {
    max-height: 270px; /* Altura fija del contenedor */
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    white-space: nowrap; /* Evita que las cards se envuelvan */
    display: flex;
    z-index: 9100;
}

.ProjectsBar .card-text{
    line-height: 1.5; /* Ajusta el espaciado entre líneas según sea necesario */
    width: 16rem; /* Anchura de las cards */
    word-wrap: break-word; /* Permite que las palabras se dividan automáticamente */
    overflow-wrap: break-word; /* Permite que el texto se ajuste correctamente */
    width:100px;
}

.ProjectsBar .card {
    width: 18rem; /* Anchura de las cards */
    margin-right: 10px; /* Espacio entre las cards */
    filter: brightness(0.8); /* Oscurece la tarjeta por defecto */
    transition: all 0.3s ease; /* Transición suave para el cambio de estilos */
}

.ProjectsBar .card:hover {
    filter: brightness(1); /* Aclara la tarjeta al pasar el ratón */
}

.ProjectsBar .close-button {
    position: absolute; /* Posición absoluta para el botón */
    top: 3px; /* Distancia desde la parte superior */
    right: 3px; /* Distancia desde la izquierda */
    /* Otros estilos para el botón */
    z-index: 9200;
}

.ProjectsBar .priority{
    position:absolute;
    left:3px; 
    z-index:9995;
}

.ProjectsBar .editproject {
    position:relative;
    left:100px; 
    z-index:9998;
}

.ProjectsBar .openproject{
    position:absolute;
    right:3px;
    z-index:9997;
}

.ProjectsBar .deteleproject{
    position:absolute;
    right:3px;
    z-index:9997;
}


.TASK{
    background-color:rgba(0, 6, 90, 0.28);
    text-align: left;
    border-radius: 12px;  
    height:max-content;
}

.TASK .deletetask{
    position: absolute; /* Posición absoluta para el botón */
    top: 3px; /* Distancia desde la parte superior */
    right: 3px; /* Distancia desde la izquierda */   
}

.TASK ul{
    margin:5px 0 0 5px;
    /* border:1px solid #000; */
    width:90%;
    height:700px;
    overflow:hidden;
    position:relative;
    list-style-type:none;
    padding-top:5px;
}
.TASK li{
    background:#ccc;
    border-top:1px solid #000;
    padding:5px 5px 5px 5px;
    width:100%;
    height:90px;
    cursor:move;
    border-radius: 12px;
    text-align: left;
}   
.TASK li:first-child{
    border-top:0;
}

/* Modal confirmación sí / no */ 

/* Estilo del diálogo de confirmación similar a Windows XP */

.ui-dialog {
    background: #f0f0f0;
    }

.ui-dialog-titlebar {
    background: #4976b7; /* Color de fondo de la barra de título */
    border: 1px solid #000; /* Borde de la barra de título */
    color: #fff; /* Color del texto en la barra de título */
  }
  
  .ui-dialog-title {
    font-weight: bold; /* Texto en negrita en la barra de título */
  }
  
  .ui-dialog-content {
    background: #f0f0f0; /* Color de fondo del contenido del diálogo */
    color: #000; /* Establece el color del texto en negro */
    border: 1px solid #000; /* Borde del contenido del diálogo */
  }
  
  .ui-dialog-buttonpane {
    background: #f0f0f0; /* Color de fondo del panel de botones */
    border-top: 1px solid #000; /* Borde superior del panel de botones */
  }
  
  .ui-button {
    background: #d3dce6; /* Color de fondo de los botones */
    border: 1px solid #000; /* Borde de los botones */
    color: #000; /* Color del texto de los botones */
  }
  
  .ui-button:hover {
    background: #afc1e3; /* Color de fondo al pasar el mouse sobre los botones */
  }